/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #AFAFAF;
@define-color background #050505;
@define-color foreground #ACACAC;
@define-color color0  #474747;
@define-color color1  #484848;
@define-color color2  #717171;
@define-color color3  #787878;
@define-color color4  #8B8B8B;
@define-color color5  #B2B2B2;
@define-color color6  #E3E3E3;
@define-color color7  #808080;
@define-color color8  #5A5A5A;
@define-color color9  #484848;
@define-color color10 #717171;
@define-color color11 #787878;
@define-color color12 #8B8B8B;
@define-color color13 #B2B2B2;
@define-color color14 #E3E3E3;
@define-color color15 #808080;
