/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/amnesia/Wallpapers/arch/arch_nz.png");

    /* Special */
    --background: #031A23;
    --foreground: #B2B0AE;
    --cursor: #8C9DA7;

    /* Colors */
    --color0:  #39393B;
    --color1:  #564F4D;
    --color2:  #3A566E;
    --color3:  #417E93;
    --color4:  #8D7D75;
    --color5:  #658B9F;
    --color6:  #B4B6C2;
    --color7:  #898584;
    --color8:  #605D5C;
    --color9:  #564F4D;
    --color10: #3A566E;
    --color11: #417E93;
    --color12: #8D7D75;
    --color13: #658B9F;
    --color14: #B4B6C2;
    --color15: #898584;
}
